:root {
    --color-header: #1a2938;
    --color-theme:#1a2938; 
    --color-theme-text:#ecf0f1;
    --color-header-text: #ecf0f1;
    --header-height: 4rem;
}

/* Apply box-sizing to all elements for better layout control */
*,
*::before,
*::after {
    box-sizing: border-box;
}

 html, body {
    /* height: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Helvetica Neue;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

.body-content {
    flex: 1
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background: var(--color-header);
    color: var(--color-header-text);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-title-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: white
}

h1 {
    font-size: 35px;
}

.chat-container{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 40%;
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    padding: 1rem;
    margin-top: 2rem;
    gap: 0.5rem;
}

.chat-message-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.5rem;
}

.chat-input-container{
    margin-top: 1rem;
    width: 40%;
}

.chat-input-form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.chat-message-container.sent{
    justify-content: flex-start;
}

.chat-message{
    background-color: aquamarine;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* width: fit-content; */
}

.chat-message.sent{
    background-color: rgb(30, 190, 137);
}

.sender{
    font-weight: bold;
}

input[type="text"]{
    width: 100%;
    height: 2.5rem;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 3px;
    transition: 300ms all;
}

input[type="text"].chat-input{
    border-radius: 1rem;
}

.send-button{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background-color: var(--color-theme);
    color: var(--color-theme-text);
    /* color: white; */
    /* padding: .2rem .5rem 0rem .1rem; */
    font-size: 0.1rem;
}

.send-button .material-symbols-outlined{
    font-weight: 200 !important;
    font-size: 1.1rem !important;
}

.material-symbols-outlined{
    color: inherit;
    margin: 0;
    padding: 0;
}


.custom-form{
    width: 50%;
}

.custom-button{
    background-color: var(--color-theme);
    color: var(--color-theme-text);
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 300ms all;
}